ToolKit/ExampleSite/ExampleControl/Service References/WMSService/WMSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWMSFeature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSFeature" nillable="true" type="tns:WMSFeature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSFeature" nillable="true" type="tns:ArrayOfWMSFeature" />
  <xs:complexType name="WMSFeature">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Layer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSFeature" nillable="true" type="tns:WMSFeature" />
</xs:schema>