ToolKit/ExampleSite/ExampleControl/Service References/WMSService/WMSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.de/Services/WMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="WMSFeatureRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minx" type="xs:double" />
        <xs:element minOccurs="0" name="maxx" type="xs:double" />
        <xs:element minOccurs="0" name="miny" type="xs:double" />
        <xs:element minOccurs="0" name="maxy" type="xs:double" />
        <xs:element minOccurs="0" name="x" type="xs:double" />
        <xs:element minOccurs="0" name="y" type="xs:double" />
        <xs:element minOccurs="0" name="width" type="xs:double" />
        <xs:element minOccurs="0" name="height" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WMSFeatureRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="WMSFeatureRequestResult" nillable="true" type="q1:ArrayOfWMSFeature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>